html {
  height: 100%;
  /*Image only BG fallback*/
  background-color: black;
  color: #222;
  /*background = gradient + image pattern combo*/
}

#msform {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

#msform fieldset {
  background-color: black;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 90%;
  min-width: 800px;
  overflow-x: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform .action-button {
  width: 130px;
  height: 40px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 20px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.elcText{
  color: white;
  font-size: 30px;
}

.elcText1{
  color: white;
  font-size: 30px;
}

.elcText2{
  color: white;
  font-size: 30px;
}

.elcText3{
  color: white;
  font-size: 30px;
}

.correct{
  color: lawngreen;
}

.wrong{
  color: red;
}

.change{
  height: 50px;
  width: 110px;
  color: white;
  background-color: rgba(237,20,0,0.7);
  float: right;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.change:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(237,20,0);
}

.fresh{
  height: 50px;
  width: 110px;
  color: white;
  background-color: rgba(237,20,0,0.7);
  float: right;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.fresh:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(237,20,0);
}

#win{
  border-radius: 2px;

}

.btn{
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
